
body {
	background-color: #ffffff;
	color: #000000;
	font-family: courier;
}

.portfolio {
	display: none !important;
}


a {
	text-decoration: none;
}
ul {
	background-color: #ffffff;
	color: #000000;
}
#objective_p {
	text-indent: 5%;
}
#refs {
	text-indent: 5%;
}
#position {
	text-indent: 5%;
	background-color: #ffffff;
	color: #000000;
}
h3, h2 {
	background-color: #ffffff;
	color: #000000;
}
p {
	background-color: #ffffff;
	color: #000000;
}
.hyperlink {
	color: #550033;
	background-color: #ffffff;
	border-bottom: 1px solid #550033;
}

#imadethis {
	display: none;
}
#topname2 {
	display: block;
}
#topname1 {
	display: none;
}
#position {
	display: none;
}
hr {
	display: flex;
}
.hashtag {
	display: none;
}

.resume {
	width: 100%;
	left: 0;
	background-color: #ffffff;
	color: #000000;
	padding-left: 2%;
	padding-right: 2%;
}

#email-link {
	background-color: #ffffff;
	color: #000000;
}
#website-link {
	background-color: #ffffff;
	color: #000000;
}


.website {
	display: list-item;
}

#courselist {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
#skilllist {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.bottom {
	display: none;
}

