
#topmargin {
	display: block;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: times;
	margin: 0% 15% 0% 10%
}

.portfolio {
	display: none !important;
}


a {
	text-decoration: none;
}
ul {
	background-color: #ffffff;
	color: #000000;
}
#objective_p {
	text-indent: 5%;
}
#refs {
	text-indent: 5%;
}
#position {
	text-indent: 5%;
	background-color: #ffffff;
	color: #000000;
}
h3, h2 {
	background-color: #ffffff;
	color: #000000;
}
h3 {
	font-size: 1.2em;
}
p {
	background-color: #ffffff;
	color: #000000;
}
.hyperlink {
	color: #550033;
	background-color: #ffffff;
	border-bottom: 1px solid #550033;
}

#imadethis {
	display: none;
}
#topname2 {
	display: block;
	font-family: courier;
	font-size: 1.5em;
	transform: scale(1, 1.25);
}
#topname1 {
	display: none;
}
#line {
	display: block;
	height: 1px;
    border-top: 4px solid #909090;
	margin-top: -16px;
}

#position {
	display: none;
}
.hashtag {
	display: none;
}

.resume {
	width: 100%;
	left: 0;
	background-color: #ffffff;
	color: #000000;
	padding-left: 2%;
	padding-right: 2%;
}

#email-link {
	background-color: #ffffff;
	color: #000000;
}
#website-link {
	background-color: #ffffff;
	color: #000000;
}


.website {
	display: list-item;
}

.dual-bullet-list {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

/* page break */
.volunteer {
	margin-top: 2em;
	page-break-before: always;
}
.pagebreak {
	display: block;
}

.bottom {
	display: none;
}

#two-page-version-only {
	opacity: 1;
}
