/*
    style1.css
*/

@font-face {
    font-family: 'FixedsysExcelsior301Regular';
    src: url('/fonts/fsex300-webfont.eot');
    src: url('/fonts/fsex300-webfont.eot?iefix') format('embedded-opentype'),
        url('/fonts/fsex300-webfont.woff') format('woff'),
        url('/fonts/fsex300-webfont.ttf') format('truetype'),
        url('/fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    font-style: normal;
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

html {
    background: linear-gradient(#0c3c41,#090f10);
    min-height: 100vh;
    min-width: 100vw;
}
body {
    font-family: 'FixedsysExcelsior301Regular', "Courier New", "Courier", monospace;
    font-size: 16px;
    color: #0fff89;
    margin: 0 auto;
    text-align: center;
}
#mainblock {
    margin: auto;
}
#game {
    min-width: 800px;
}
#hud { /*, #title*/
    display: block;
    margin: 0 auto;
    text-align: left;
    background: radial-gradient(at 20%, #305040 0%,#052510 30%, #001010 70%);
}
#log {
    text-align: left;
    display: block;
    margin: 0px auto;
    overflow: scroll;
    background: radial-gradient(at 30% 40%, #153525,#051005 50%, #052015);
}
canvas {
    margin: 0px;
}

/*#log, canvas {
    border: outset 3px #87ff00;
    padding: 3px;
}*/
