
body {
	background-color: #000000;
	color: #ffbb77;
	font-family: courier;
}
a {
	text-decoration: none;
}
ul {
	background-color: #160c00;
}
#objective_p {
	text-indent: 5%;
}
#refs {
	text-indent: 5%;
}
#position {
	text-indent: 5%;
	color: #33ffbb;
	background-color: #00331a;
}
h3, h2 {
	color: #0088ff;
	background-color: #000f2f;
}
p {
	background-color: #150f00;
}
.hyperlink {
	color: #ff0088;
	background-color: #220011;
	border-bottom: 1px solid #ff0088;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}
.resume {
	left: 0;
	background-color: #110c00;
	padding-left: 2%;
	padding-right: 2%;
}

.portfolio {
	right: 0;
	background-color: #0f0f0f;
	display:grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    overflow: auto;
    white-space: nowrap;
}
.portfolio > section.gamebox {
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
 }
.gamebox > img {
	object-fit: fill;
 }
img.game {
	max-width: 23em;
	max-height: 23em;
	background-color: #000000;
}
.softly {
	background-color: #50001f;
}
.platformer {
	background-color: #001626;
}
.sea-of-green {
	background-color: #000f0f;
}
.zelda {
	background-color: #002600;
}
.empire2 {
	background-color: #2f0016;
}
.mendacity2 {
	background-color: #000c26;
}
.name {
	background-color: #001f26;
}
#name {
	background-color: #001f26;
	color: #44aaff;
	text-align: center;
	font-size: 2em;
}
#endcap2 {
	color: #2f0016;
}
.endcap2 {
	background-color: #2f0016;
}
#endcap3 {
	color: #002600;
}
.endcap3 {
	background-color: #002600;
}
.cover {
	background-color: #302000;
}
#album_cover {
	color: #ffbb77;
	background-color: #302000;
	font-size: 2em;
	text-align: center;
}

#email {
	list-style-image: url("../img/email_trans.png");
}
#phone {
	list-style-image: url("../img/phone_trans.png");
}
#address {
	list-style-image: url("../img/loc_trans.png");
}
#email-link {
	background-color: #110c00;
	color: #ffbb77;
}